.title br {
  display: none;
}


/* Responsive */


@media screen and (max-width: 1200px) {
  .title .br1 {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .title .br1 {
    display: none;
  }
}

@media screen and (max-width: 529px) {
  .title .br2,
  .title .br3 {
    display: inline;
  }
}