body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #201b2d;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

p {
  line-height: 1.65em;
}

.align {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.header {
  padding-top: 62px;
  padding-bottom: 145px;
  color: #fff;
  background: rgb(77, 189, 254);
  background: -o-linear-gradient(top, rgba(77, 189, 254, 1) 0%, rgba(55, 144, 217, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 189, 254, 1)), to(rgba(55, 144, 217, 1)));
  background: -webkit-linear-gradient(top, rgba(77, 189, 254, 1) 0%, rgba(55, 144, 217, 1) 100%);
  background: -moz-linear-gradient(top, rgba(77, 189, 254, 1) 0%, rgba(55, 144, 217, 1) 100%);
  background: linear-gradient(180deg, rgba(77, 189, 254, 1) 0%, rgba(55, 144, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbdfe", endColorstr="#3790d9", GradientType=1);
}

.wrapper-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.lang {
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.offer {
  width: 630px;
}

.title {
  font-size: 37px;
}

.title span {
  font-size: 59px;
}

.intro {
  margin-top: 30px;
  margin-bottom: 45px;
  width: 405px;
  font-size: 16px;
}

.btn {
  display: block;
  padding: 20px 0;
  width: 222px;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #2e2a1b;
  background: #ffd429;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #f4c509;
}

.suitcases {
  margin-top: 60px;
}

.ahead {
  padding-top: 108px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 30px;
}

.ahead-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 70px;
}

.aheads {
  padding-top: 90px;
  width: 289px;
  background: url("../img/icon1.jpg") no-repeat top;
}

.aheads-title {
  font-size: 19px;
}

.aheads-text {
  margin-top: 10px;
}

.aheads-travels {
  background: url("../img/icon2.jpg") no-repeat top;
}

.aheads-values {
  width: 301px;
  background: url("../img/icon3.jpg") no-repeat top;
}

.mail {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ecf3f8;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  padding-left: 15px;
  width: 343px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.btn-form {
  margin: 0 auto;
  border: 0;
  width: 343px;
  cursor: pointer;
}

.form {
  margin-top: 55px;
}

.footer {
  padding: 60px 0;
  background: #164d7a;
}

.credits {
  margin: 0;
  font-size: 14px;
  color: #fff;
}


/* Responsive */


/* 1200px - 1400px */
@media screen and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: normal;
    -moz-box-align: normal;
    -ms-flex-align: normal;
    -webkit-align-items: normal;
    align-items: normal;
    text-align: center;
  }

  .wrapper-logo {
    margin-bottom: 80px;
  }

  .offer {
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .btn {
    margin: 0 auto;
  }

  .intro br {
    display: none;
  }

  .suitcases {
    display: block;
    margin: 60px auto 0;
    width: 519px;
  }

  .ahead-list {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .aheads {
    margin-bottom: 30px;
    width: 100%;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .title {
    font-size: 27px;
  }

  .title span {
    font-size: 44px;
  }

  .suitcases {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}